@import '../../../styles/constants';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.docs-guide-list {
  flex-grow: 1;
  margin: $content-padding-side;

  @media (max-width: $small-breakpoint-width) {
    margin: 0;
  }
}

.docs-guide-item, .docs-guide-item:hover {
  text-decoration: none;
}
table {
  width: 100%;
}
.example-table {
  height: 100%;
  overflow: auto;
}
.mat-form-field-filter {
  font-size: 14px;
  width: 100%;
}
.mat-form-field-online {
  font-size: 14px;
  width: 20%;
}
.mat-cell {
  font-size: 75%;
}
.tooltip {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: rgba(218, 218, 218, 0.24);
  color: rgba(50, 200, 71, 0.93);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
